<h1>Hello World!</h1>

  <table class="table">
    <thead>
     <tr>
        <th>名称</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td>zec</td>
          <td><%= @zec_yunbi %></td>
        </tr>

    </tbody>
  </table>
